.sidebar {
    color: white;
    margin-top: 6px;
    padding: 10px;
    transition: 0.5s;
    position: absolute;
    background-color: #646464;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) {
 .sidebar {
   width: 250px;
 }
}
